# Exercise 2: Basic Python 2

Builds on exercises provided with Programming with Python for Social Science by Phillip Brooker and from Social Data Science 2019 by Andreas Bjerre-Nielson

## 2.1 Lists

**Question 2.1.1**: make two lists, `mammals` and `reptiles`with respectively "dog","cat","dolphin" and "gecko","monitor lizard","iguana". What is the index of "iguana" in `reptiles`?

In [3]:
#Answer to question 2.1.1
mammals = ["dog", "cat", "dolphin"]
reptiles = ["gecko", "monitor lizard", "iguana"]

print(reptiles[2])
reptiles.index("iguana")

#guess: iguana is index 2

iguana

2

**Question 2.1.2**: make a list `animals` which consist of first `mammals`, then `reptiles`. 
Hint: See what happens when you `+` two lists together.

In [4]:
#Answer to question 2.1.2
animals = mammals + reptiles
print(animals)

['dog', 'cat', 'dolphin', 'gecko', 'monitor lizard', 'iguana']

**Question 2.1.3**: Create list `some_reptiles` that contains only the second and third elements of `reptiles`.

In [5]:
#Answer to question 2.1.3
some_reptiles = [reptiles [1:3]]
print(some_reptiles)

[['monitor lizard', 'iguana']]

**Question 2.1.4**: replace the second element of `reptiles` with "komodo dragon". What are the values of `some_reptiles` now?

In [6]:
#Answer to question 2.1.
reptiles[1] = "komodo dragon"
#[1] because of zero indexing!
print(reptiles[1])
print(reptiles)
print(some_reptiles) #their values dont change - it is a different list.

komodo dragon
['gecko', 'komodo dragon', 'iguana']
[['monitor lizard', 'iguana']]

**Question 2.1.5**: Create a list `animals2` that contains nested lists `mammals` and `reptiles`. How would you access the element "dolphin"?

In [7]:
#Answer to question 2.1.5
animals2 = [mammals, reptiles]
print(animals2)

animals2[0][2]

[['dog', 'cat', 'dolphin'], ['gecko', 'komodo dragon', 'iguana']]

'dolphin'

**Question 2.1.6**: What is the length of `animals` versus `animals2`? Why?

In [8]:
#Answer to question 2.1.6
len(animals)
len(animals2)

#animals comes up a 6. Includes six indexes. animals2 comes up as 2 - includes two lists.

2

In [9]:
len(animals2[0]+animals2[1])
#to check number of elements in the list - get the whole number

6

**Question 2.1.7**: Take the list below (it is the population of Denmark on Jan 1 from 1901 to 2020 in 1000s).

How many elements are in the list? 

What is the range of the first 10 items? 

What is the range for elements between indices 80 and 90 (i.e. 1981 - 1991)? 

What was the population in 1904 (Hint: This is the fourth element in the list)

In [10]:
#Data from https://www.statbank.dk/10021
DK_population =[2447,2477,2506,2532,2560,2589,2621,2652,2687,2722,
                2757,2788,2820,2851,2886,2921,2958,2991,3027,3061,
                3265,3306,3340,3372,3406,3439,3467,3487,3510,3531,
                3557,3590,3620,3651,3683,3711,3738,3765,3794,3826,
                3849,3882,3926,3973,4023,4075,4123,4168,4211,4252,
                4285,4315,4349,4389,4424,4454,4479,4501,4532,4566,
                4601,4630,4666,4703,4741,4779,4820,4855,4879,4907,
                4951,4976,5008,5036,5054,5065,5080,5097,5112,5122,
                5124,5119,5116,5112,5111,5116,5125,5129,5130,5135,
                5146,5162,5181,5197,5216,5251,5275,5295,5314,5330,
                5349,5368,5384,5398,5411,5427,5447,5476,5511,5535,
                5561,5581,5603,5627,5660,5707,5749,5781,5806,5823]

#Answer to Question 2.1.8

list_size = len(DK_population)
#Answer 120 elements in the list
print(list_size)

120

In [11]:
range_list = max(DK_population[0:10]) - min(DK_population[0:10])
#answer: range is 275
print(range_list)

275

In [12]:
range_elements = max(DK_population[80:90]) - min(DK_population[80:90])
print(range_elements)

24

In [13]:
population3 = DK_population[3]
print(population3)

2532

In [14]:
print("The number of years in the list is: " + str(list_size))
print("The range of the list is: " + str(range_list))
print("Range of elements in the list is: " + str(range_elements))
print("The population in Denmark in the year 1904 was: " + str(population3))

The number of years in the list is: 120
The range of the list is: 275
Range of elements in the list is: 24
The population in Denmark in the year 1904 was: 2532

## 2.2 More Strings

**Question 2.2.1**: Let `s1 = 'Chameleon`. From the string `s1` select the last four characters. What is the index of the character `a` in `s1`?

*Hint*: We can selecting a substring by slicing it with the `[]` notation, from the start to end where start is included and end is excluded. Recall that Python has zero-based indexing, see explanation [here](https://softwareengineering.stackexchange.com/questions/110804/why-are-zero-based-arrays-the-norm).

In [15]:
#Answer to question 2.2.1
s1 = 'Chameleon'
print(s1)

Chameleon

In [16]:
print(s1)
slice_4 = s1[-4:]

print(slice_4)
#sliced the last 4 characters of the string. Turning it around [:-4] would make it remove
#the same 4 characters from the string leaving it as Chame.

s1.find('a')
#could also do: s1.index("a")

Chameleon
leon

2

**Quesion 2.2.2**: Let `my_url` be a url of your choice. Retrieve the part of a string before a specified character. 
For example, if your URL is the link for our course: https://kurser.ku.dk/course/aana18119u/2019-2020 and specific character is '/', then you should retrieve https://kurser.ku.dk/course/aana18119u. 

Remember that you can consult the [documentation for strings](https://docs.python.org/2.5/lib/string-methods.html) to find relevant methods

In [17]:
#Answer to question 2.2.2
my_url = "https://kurser.ku.dk/course/aana18119u/2019-2020"

shorter_url = my_url.rsplit ("/",1)[0]

print(shorter_url)

https://kurser.ku.dk/course/aana18119u

## 2.3 Conditions and Loops

**Question 2.3.1**: Revisit your script workflow from the previous assignment (Question 1.4.3). For which part of your script would you need to use a loop? What kind of loop would you use?

In [18]:
#Answer to question 2.3.1
#For the question "Is it time for tea?" - if-loop.

**Question 2.3.2**: Using the list of population size `DK_population` from above, calculate the average population of Denmark from year 1901 to 2020 (the whole list) using a loop. Round to the nearest whole number.

In [19]:
#Answer to question 2.3.2

print(DK_population)

DK_pop_avg = 0
for i in DK_population: 
    DK_pop_avg += i 
    
DK_pop_avg /= len(DK_population)

print("The average population from year 1901 to 2020 was: " + str(round(DK_pop_avg)))

[2447, 2477, 2506, 2532, 2560, 2589, 2621, 2652, 2687, 2722, 2757, 2788, 2820, 2851, 2886, 2921, 2958, 2991, 3027, 3061, 3265, 3306, 3340, 3372, 3406, 3439, 3467, 3487, 3510, 3531, 3557, 3590, 3620, 3651, 3683, 3711, 3738, 3765, 3794, 3826, 3849, 3882, 3926, 3973, 4023, 4075, 4123, 4168, 4211, 4252, 4285, 4315, 4349, 4389, 4424, 4454, 4479, 4501, 4532, 4566, 4601, 4630, 4666, 4703, 4741, 4779, 4820, 4855, 4879, 4907, 4951, 4976, 5008, 5036, 5054, 5065, 5080, 5097, 5112, 5122, 5124, 5119, 5116, 5112, 5111, 5116, 5125, 5129, 5130, 5135, 5146, 5162, 5181, 5197, 5216, 5251, 5275, 5295, 5314, 5330, 5349, 5368, 5384, 5398, 5411, 5427, 5447, 5476, 5511, 5535, 5561, 5581, 5603, 5627, 5660, 5707, 5749, 5781, 5806, 5823]
The average population from year 1901 to 2020 was: 4363

**Question 2.3.3**: Suppose you want your population size list to show the full population, not represented in the 1000s (i.e. 2447 should really be 2447000). Using a loop, create a new list `DK_population_long` where the elements show the full population. If you used a for loop for Question 2.3.2 then use a while loop for this question, or vice versa.

In [20]:
#Answer to Question 2.3.3

## 2.4 Dictionaries
**Question 2.4.1**: Take the list of population size `DK_population` above and make a Dictionary called `DK_population_dict` with keys year and population (with the appropriate values). Recall that the data represents 1901 to 2020.

In [21]:
#Answer to question 2.4.1
#start by making a list of years
years = list(range(1901,2020))

#years and population ziped togeather
key_values = list(zip(years, DK_population))

#create a dictionary
DK_population_dict = dict(key_values)

print(DK_population_dict)

{1901: 2447, 1902: 2477, 1903: 2506, 1904: 2532, 1905: 2560, 1906: 2589, 1907: 2621, 1908: 2652, 1909: 2687, 1910: 2722, 1911: 2757, 1912: 2788, 1913: 2820, 1914: 2851, 1915: 2886, 1916: 2921, 1917: 2958, 1918: 2991, 1919: 3027, 1920: 3061, 1921: 3265, 1922: 3306, 1923: 3340, 1924: 3372, 1925: 3406, 1926: 3439, 1927: 3467, 1928: 3487, 1929: 3510, 1930: 3531, 1931: 3557, 1932: 3590, 1933: 3620, 1934: 3651, 1935: 3683, 1936: 3711, 1937: 3738, 1938: 3765, 1939: 3794, 1940: 3826, 1941: 3849, 1942: 3882, 1943: 3926, 1944: 3973, 1945: 4023, 1946: 4075, 1947: 4123, 1948: 4168, 1949: 4211, 1950: 4252, 1951: 4285, 1952: 4315, 1953: 4349, 1954: 4389, 1955: 4424, 1956: 4454, 1957: 4479, 1958: 4501, 1959: 4532, 1960: 4566, 1961: 4601, 1962: 4630, 1963: 4666, 1964: 4703, 1965: 4741, 1966: 4779, 1967: 4820, 1968: 4855, 1969: 4879, 1970: 4907, 1971: 4951, 1972: 4976, 1973: 5008, 1974: 5036, 1975: 5054, 1976: 5065, 1977: 5080, 1978: 5097, 1979: 5112, 1980: 5122, 1981: 5124, 1982: 5119, 1983: 5116, 1984: 5112, 1985: 5111, 1986: 5116, 1987: 5125, 1988: 5129, 1989: 5130, 1990: 5135, 1991: 5146, 1992: 5162, 1993: 5181, 1994: 5197, 1995: 5216, 1996: 5251, 1997: 5275, 1998: 5295, 1999: 5314, 2000: 5330, 2001: 5349, 2002: 5368, 2003: 5384, 2004: 5398, 2005: 5411, 2006: 5427, 2007: 5447, 2008: 5476, 2009: 5511, 2010: 5535, 2011: 5561, 2012: 5581, 2013: 5603, 2014: 5627, 2015: 5660, 2016: 5707, 2017: 5749, 2018: 5781, 2019: 5806}

**Question 2.4.2**: What was the population in the year 1950?

In [38]:
#Answer to question 2.4.2
#gives the value of a certain index in dict. 
DK_population_dict[1950]

4252

**Question 2.4.3**: Write a dictionary called `my_dictionary` that stores:
- Your favourite animal
- Your favourite colour
- Your favourite TV Show
- Your favourite film

In [69]:
#Answer to question 2.4.3
my_dictionary = {"animal" : "dog",
                 "colour" : "green",
                 "TV_show" : "River Cottage",
                 "Film" : "Royal Tenenbaums"}

print(my_dictionary)

{'animal': 'dog', 'colour': 'green', 'TV_show': 'River Cottage', 'Film': 'Royal Tenenbaums'}

**Question 2.4.4**: Add a key and value to the your dictionary from 2.4.3 with your favourite band or artist.

In [70]:
#Answer to question 2.4.4
my_dictionary["artist"] = "Nick Cave"

print(my_dictionary)

{'animal': 'dog', 'colour': 'green', 'TV_show': 'River Cottage', 'Film': 'Royal Tenenbaums', 'artist': 'Nick Cave'}

**Question 2.4.5**: 
1. Delete the favourite film field.
2. Create an empty dictionary with the variable name as your favourite movie 
3. Populate the dictionary with the following keys (and give them values): 
    - Year
    - Genre
4. Do steps 2 and 3 for a two or three movies. 
5. Add the dictionaries of movies to a new dictionary called `favourite_movies` with the movie title as the key for each entry. 
6. Add `favourite_movies` to your `my_dictionary` under the key "Favourite movies"

In [68]:
#Answer to question 2.4.5

In [71]:
my_dictionary.pop("Film")

'Royal Tenenbaums'

In [72]:
favorite_films = {}

In [73]:
Royal_Tenenbaums = {"Year": "2001",
                   "Genre": "comedy-drama"}

Harry_Potter = { "Year": "2001",
               "Genre": "fantasy"}

Virgin_Mountain = {"Year": "2015",
                  "Genre": "Drama"}

In [74]:
favorite_films = {"The Royal Tenenbaums": Royal_Tenenbaums,
                 "Harry Potter and the Socresers Stone": Harry_Potter,
                 "Virgin Mountain": Virgin_Mountain}

In [75]:
my_dictionary["Favorite movies"] = favorite_films

In [76]:
print(my_dictionary)

{'animal': 'dog', 'colour': 'green', 'TV_show': 'River Cottage', 'artist': 'Nick Cave', 'Favorite movies': {'The Royal Tenenbaums': {'Year': '2001', 'Genre': 'comedy-drama'}, 'Harry Potter and the Socresers Stone': {'Year': '2001', 'Genre': 'fantasy'}, 'Virgin Mountain': {'Year': '2015', 'Genre': 'Drama'}}}

**Question 2.4.6**: See if you can print out different keys and values from `my_dictionary`.

In [77]:
print(my_dictionary.keys())

dict_keys(['animal', 'colour', 'TV_show', 'artist', 'Favorite movies'])

In [78]:
print(my_dictionary.values())

dict_values(['dog', 'green', 'River Cottage', 'Nick Cave', {'The Royal Tenenbaums': {'Year': '2001', 'Genre': 'comedy-drama'}, 'Harry Potter and the Socresers Stone': {'Year': '2001', 'Genre': 'fantasy'}, 'Virgin Mountain': {'Year': '2015', 'Genre': 'Drama'}}])

In [83]:
print(my_dictionary["artist"])
#prints out the value of the key in brackets.

Nick Cave

In [26]:
#Answer to question 2.4.6

## 2.5 Reflection
**Question 2.5.1**: Write a brief paragraph reflecting on your experience learning programming today. What did you struggle with? What did you enjoy? What surprised you?

In [ ]:
#Answer to question 2.5.1